<div class="user-wealth">
	<strong class="user-wealth__title">Wealth:</strong>

	<div class="user-wealth__gold-resource">
    </div>

    <div class="user-wealth__copper-resource">
    </div>

    <div class="user-wealth__some-resource">
    </div>
</div>